:root { 
    --Pale-blue: hsl(225, 100%, 94%);
--Bright-blue: hsl(245, 75%, 52%);

--Very-pale-blue: hsl(225, 100%, 98%);
--Desaturated-blue: hsl(224, 23%, 55%);
--Dark-blue: hsl(223, 47%, 23%);

}

* { 
    font-family: 'Plus Jakarta Sans', sans-serif;
font-family: 'Red Hat Display', sans-serif;
}

body { 
    background-image: url('./images/pattern-background-mobile.svg');
    background-repeat: no-repeat;
    background-color: var(--Pale-blue);
    margin: 0;
    padding: 0;
}

button { 
    cursor: pointer;
}

main { 
    width: 277px;
    margin: 5em auto;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
    background-color: white;
}


main>section>img { 
    width: 277px; 
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
}


h1 { 
    margin-top:32px;  
    font-size: 22px;
    font-weight: 900;
}

main>p { 
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    height: 75px;
    margin: 10px auto;

   width: calc(100% - 24px); 
    color: var(--Desaturated-blue);
    font-weight: 500;



}



main>div{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "img h2 button"
      "img p button"; 
    padding-left:5px; 
    padding-right:5px; 
    margin: 10px;
background-color: var(--Very-pale-blue);
      
  }

/* //Inside gird */
main>div>img { grid-area: img;
    align-self: center;
}
 main>div>h2{ grid-area: h2; 
    position: relative;
    top: 10px;
    left: -15px; 
align-self: center;
font-size: 14px;
}
 main>div>p{ grid-area: p;
    position: relative;
    top: -10px;
    left: -15px; 
    font-size: 14px;
    color: var(--Desaturated-blue);
}
 main>div>button { grid-area: button; 
background: none;
border: none;
text-align: end;
color: var(--Bright-blue);
font-weight: 700;
font-size: 13px;
}




.proceedPayment { 
    background: var(--Bright-blue);
    color: white;
    font-size: 15px;
    margin: center;
    width: calc(100% - 32px);
    
    padding: 15px;
    box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
    border-radius: 11px;
}

.cancelPayment { 
    text-align: center;
    font-size: 15px;
    margin: 24px;
    margin-bottom: 32px;
    color: var(--Desaturated-blue);
}

footer { 
    font-weight: 700;

}

@media (min-width: 700px ){ 
    
    body { 
        background-image: url('./images/pattern-background-desktop.svg');
        background-repeat: no-repeat;
    }
    main>section>img { 
        width: 450px;
    }
    main { 
        width: 450px;
    }

    main>h1 { 
        font-size: 28px;
    }

    main>p{ 
        /* margin-left: 48px;
        margin-right: 48px; */
        width: calc(100% - 108px); 
        padding-left: 20px;
        padding-right: 20px;
        height: auto;
    }

    main>div { 
       margin: 15px;
       padding-left:24px; 
       padding-right:24px; 
    }

    main>div>h2 { 
        padding-right: 42px;
    }

    .proceedPayment { 
        width: calc(100% - 48px); 
    }
}